<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Job Portal</title>
</head>

<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#" class="logo">Hire<span>Hub</span></a>
            </div>
            <div class="nav_menu_btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/#job">Jobs</a></li>
            <li><a href="#browse">Browse</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
    <section class="section_container job_container" id="job">
        <!-- <h2 class="section__header"><span>Latest & Top</span> Job Openings</h2>
        <p class="section__description">
            Discover Exciting New Opportunities and High-Demand Positions Available
            Now in Top Industries and Companies
        </p> -->
        <h2>Search Result </h2>
        <div class="job__grid">
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/figma.png" alt="job" />
                    <div>
                        <h5>Figma</h5>
                        <h6><i class="ri-map-pin-line"></i> India</h6>
                    </div>
                </div>
                <h4>UI/UX Designer</h4>
                <p>We're seeking a UI/UX Designer with experience in user-centric design to create intuitive interfaces for our products. Expertise in Figma and prototyping tools required.</p>
                <div class="job_card_footer">
                    <span>5 Positions</span>
                    <span>Full Time</span>
                    <span>8 LPA - 12 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/google.png" alt="job" />
                    <div>
                        <h5>Google</h5>
                        <h6><i class="ri-map-pin-line"></i> India</h6>
                    </div>
                </div>
                <h4>Data Scientist</h4>
                <p>Looking for a Data Scientist with proficiency in Python and machine learning frameworks. You’ll work on predictive models and large datasets to drive business insights.</p>
                <div class="job_card_footer">
                    <span>3 Positions</span>
                    <span>Full Time</span>
                    <span>15 LPA - 25 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/linkedin.png" alt="job" />
                    <div>
                        <h5>LinkedIn</h5>
                        <h6><i class="ri-map-pin-line"></i> India</h6>
                    </div>
                </div>
                <h4>Software Engineer</h4>
                <p>We are hiring a Software Engineer to design, develop, and maintain software applications. Strong coding skills and proficiency in full-stack development are required.</p>
                <div class="job_card_footer">
                    <span>6 Positions</span>
                    <span>Full Time</span>
                    <span>12 LPA - 16 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/amazon.png" alt="job" />
                    <div>
                        <h5>Amazon</h5>
                        <h6><i class="ri-map-pin-line"></i> USA</h6>
                    </div>
                </div>
                <h4>Cloud Architect</h4>
                <p>We're seeking a Cloud Architect to design and manage scalable cloud infrastructures. AWS certification and experience in cloud security are preferred.</p>
                <div class="job_card_footer">
                    <span>4 Positions</span>
                    <span>Full Time</span>
                    <span>20 LPA - 35 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/facebook.png" alt="job" />
                    <div>
                        <h5>Facebook</h5>
                        <h6><i class="ri-map-pin-line"></i> Canada</h6>
                    </div>
                </div>
                <h4>DevOps Engineer</h4>
                <p>We're looking for a DevOps Engineer with experience in CI/CD pipelines and cloud environments to streamline deployment processes and ensure system reliability.</p>
                <div class="job_card_footer">
                    <span>7 Positions</span>
                    <span>Full Time</span>
                    <span>14 LPA - 20 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/microsoft.png" alt="job" />
                    <div>
                        <h5>Microsoft</h5>
                        <h6><i class="ri-map-pin-line"></i> Hyderabad</h6>
                    </div>
                </div>
                <h4>AI Engineer</h4>
                <p>We are seeking an AI Engineer with experience in building AI solutions using deep learning frameworks like TensorFlow and PyTorch. Strong programming skills required.</p>
                <div class="job_card_footer">
                    <span>5 Positions</span>
                    <span>Full Time</span>
                    <span>18 LPA - 30 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/google.png" alt="job" />
                    <div>
                        <h5>Google</h5>
                        <h6><i class="ri-map-pin-line"></i> USA</h6>
                    </div>
                </div>
                <h4>Cybersecurity Analyst</h4>
                <p>We need a Cybersecurity Analyst to protect our systems and networks from cyber threats. Experience in risk management and incident response is required.</p>
                <div class="job_card_footer">
                    <span>3 Positions</span>
                    <span>Full Time</span>
                    <span>12 LPA - 18 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/twitter.png" alt="job" />
                    <div>
                        <h5>Twitter</h5>
                        <h6><i class="ri-map-pin-line"></i> USA</h6>
                    </div>
                </div>
                <h4>Mobile App Developer</h4>
                <p>Hiring a Mobile App Developer with expertise in Flutter and React Native to create high-performance applications for iOS and Android platforms.</p>
                <div class="job_card_footer">
                    <span>8 Positions</span>
                    <span>Full Time</span>
                    <span>10 LPA - 18 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/amazon.png" alt="job" />
                    <div>
                        <h5>Amazon</h5>
                        <h6><i class="ri-map-pin-line"></i> Chennai</h6>
                    </div>
                </div>
                <h4>Data Analyst</h4>
                <p>Looking for a Data Analyst to interpret complex data sets, provide actionable insights, and support business decision-making. Strong SQL and Excel skills are required.</p>
                <div class="job_card_footer">
                    <span>6 Positions</span>
                    <span>Full Time</span>
                    <span>6 LPA - 12 LPA</span>
                </div>
            </div>
        
            <div class="job__card">
                <div class="job_card_header">
                    <img src="../static/assets/images/microsoft.png" alt="job" />
                    <div>
                        <h5>Microsoft</h5>
                        <h6><i class="ri-map-pin-line"></i> India</h6>
                    </div>
                </div>
                <h4>React Native Developer</h4>
                <p>We're looking for a React Native Developer to develop high-quality mobile applications. Experience with building scalable mobile apps using React Native is a must.</p>
                <div class="job_card_footer">
                    <span>10 Positions</span>
                    <span>Full Time</span>
                    <span>10 LPA - 15 LPA</span>
                </div>
            </div>
        </div>
        
    </section>